.title2{
	margin: 20px;
}
.title3{
	margin-right: 60px;
	margin-top: 20px;
}
.title{
	max-width: 300px;
}
.rojo{
	height: 400px;
	background-image: url("../img/banner.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img2{
	width: 70px;
	margin-top: 180px;
	margin-left: 270px;
}
.caja{
	margin-top: 10px;
	margin-left: 5px;
	font-size: 10px;
}
.cajita{
	margin-top: 2px;
}
.am{
	margin-top: 10px;
}
.am2{
	margin-top: 9.5px;
	margin-left: -62px;
}
.am5{
	margin-top: 25px;
}