.title2{
	margin: 20px;
}
.title3{
	margin-right: 60px;
	margin-top: 20px;
}
.title{
	max-width: 300px;
}
.rojo{
	height: 400px;
	background-image: url("../img/banner.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img2{
	width: 70px;
	margin-top: 180px;
	margin-left: 270px;
}
.caja{
	margin-top: 10px;
	margin-left: 5px;
	font-size: 10px;
}
.cajita{
	margin-top: 2px;
}
.am{
	margin-top: 10px;
}
.am2{
	margin-top: 9.5px;
	margin-left: -62px;
}
.am5{
	margin-top: 25px;
}
.deep{
   height: 220px;
   padding-right: 10px;
   padding-left: 10px;
   background-color: yellow;
}
.container2{
	height: 260px;
	width: 960px;
	margin-left: 150px;
	padding: 20px;
	box-sizing: border-box;
	background-color: yellow;
}
.rar{
	margin-left: 100px
}
.video{
	width: 100%;
}
.bloque{
	width: 100%;
}
.gray{
	color:#6e6e6e;
}
.raya{
	border:1px  #6e6e6e solid;
}
.more{
	color:red;
}
footer{
	background:#6E6E6E;
	width:100%;
	color:#fff;
	margin:auto;
	font-size: 16px;
}
